$mobile: 990px;

@mixin mobile {
  @media (max-width: #{$mobile}){
    @content;
  }
}

@function bkgColor($clr){
  @return $clr;
}

main{
  width:100%;
  margin:0 auto;
  display: grid;
  grid-template-areas: "basic prof master";
  align-items: center;
  justify-content: center;

  @include mobile{
    grid-template-areas:
    "basic"
    "prof"
    "master";
  }
}

h3{
  letter-spacing: 1px;
}

.container{
  width:300px;
  border-radius: 5px;
  padding:10px;
  box-shadow:0px 12px 65px -30px #001F54;

  @include mobile{
    margin:20px 0;
  }

  h3{
    padding:15px 0 0 0;
    color:$dark;
  }

  p{
    padding:15px 0;
    font-size: 0.9em;
    color:$dark;
    word-spacing:2px;
  }

  hr{
    width:250px;
    opacity: 0.4;
    margin:0 auto;

    @include mobile{
      width:85%;
      padding:0 5px;
    }
  }

  button{
    padding:12px 70px;
    border-radius: 5px;
    margin:20px 0;
    background-color:$dark;
    color:$body;
    cursor: pointer;
    transition: background-color .4s;
    font-weight: 700;
    letter-spacing: 1px;
  }

  button:hover{
    background-image: none;
    background-color: $body;
    border-color: $bodyDark;
    color:$bodyDark;
  }

  .price{
    font-size:3em;
    font-weight:700;
    color:$dark;
  
    .dollar_Sign{
      font-size:0.6em;
      position: relative;
      bottom:7px;
      padding:3px;
    }
  }
}

#basic{
  grid-area: basic;
  background-color: bkgColor($body);
}

#professional{
  grid-area: prof;
  background-image: linear-gradient(45deg, $bodyDark, $dark);
  padding:35px 0;
  color:$body;

  p, h3{
    color:$body;
  }

  button{
    background-image:none;
    background-color:$body;
    color:$dark;
  }

  button:hover{
    background-image: linear-gradient(45deg, $bodyDark, $dark);
    border-color: $body;
    color:$body;
  }
}

#master{
  grid-area: master;
  background-color: bkgColor($body);
}



