main{
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template-areas: "basic prof master";
  align-items: center;
  justify-content: center;
}

@function bkgColor($clr){
  @return $clr;
}

.container{
  border:1px solid red;
  border-radius: 10px;
  padding:10px;

}

#basic{
  grid-area: basic;
  background-color: bkgColor(#fff);
}

#professional{
  grid-area: prof;
}

#master{
  grid-area: master;
}



