/* Coolors Exported Palette - coolors.co/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */

/* Colors */
$dark: rgba(27, 38, 79, 1);;
$bkg: rgba(163, 220, 248, 1);
$light: rgba(119, 150, 203, 1);
$text:rgba(87, 100, 144, 1);


/* Fonts */