/* Coolors Exported Palette - coolors.co/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */

/* Colors */
// $dark: rgba(27, 38, 79, 1);;
// $bkg: rgba(163, 220, 248, 1);
// // $light: rgba(119, 150, 203, 1);
// $light:#F2E9E4;
// $text:rgba(87, 100, 144, 1);


// $bkg:rgba(252, 185, 178, 1);
// $dark:rgba(70, 18, 32, 1);;
// $text_header:rgba(140, 47, 57, 1);;
// $text_content:rgba(178, 58, 72, 1);;
// $body:rgba(254, 208, 187, 1);

$bkg:#EEE0CB;
$dark: #001F54;
$body:#ECF8F8;
$bodyDark:#034078;


/* Fonts */
$headers: "Comic Sans MS", cursive, sans-serif;
$content: Helvetica, sans-serif;;


