/* Coolors Exported Palette - coolors.co/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */

/* RGB */
$dark: rgba(7, 190, 184, 1);
$color2: rgba(61, 204, 199, 1);
$bkg: rgba(104, 216, 214, 1);
$color4: rgba(156, 234, 239, 1);
$light: rgba(196, 255, 249, 1);