/* Coolors Exported Palette - coolors.co/07beb8-3dccc7-68d8d6-9ceaef-c4fff9 */
/* Colors */
/* Fonts */
main {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "basic prof master";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 990px) {
  main {
        grid-template-areas: "basic" "prof" "master";
  }
}

h3 {
  letter-spacing: 1px;
}

.container {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 12px 65px -30px #001F54;
          box-shadow: 0px 12px 65px -30px #001F54;
}

@media (max-width: 990px) {
  .container {
    margin: 20px 0;
    width: 400px;
  }
}

.container h3 {
  padding: 15px 0 0 0;
  color: #001F54;
}

.container p {
  padding: 20px 0;
  font-size: 0.9em;
  color: #001F54;
  word-spacing: 2px;
}

.container hr {
  width: 250px;
  opacity: 0.4;
  margin: 0 auto;
}

@media (max-width: 990px) {
  .container hr {
    width: 85%;
    padding: 0 5px;
  }
}

.container button {
  padding: 12px 70px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #001F54;
  color: #ECF8F8;
  cursor: pointer;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  font-weight: 700;
  letter-spacing: 1px;
}

.container button:hover {
  background-image: none;
  background-color: #ECF8F8;
  border-color: #034078;
  color: #034078;
}

.container .price {
  font-size: 3em;
  font-weight: 700;
  color: #001F54;
}

.container .price .dollar_Sign {
  font-size: 0.6em;
  position: relative;
  bottom: 7px;
  padding: 3px;
}

#basic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: basic;
  background-color: #ECF8F8;
}

#professional {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: prof;
  background-image: linear-gradient(45deg, #034078, #001F54);
  padding: 35px 0;
  color: #ECF8F8;
}

#professional p, #professional h3 {
  color: #ECF8F8;
}

#professional button {
  background-image: none;
  background-color: #ECF8F8;
  color: #001F54;
}

#professional button:hover {
  background-image: linear-gradient(45deg, #034078, #001F54);
  border-color: #ECF8F8;
  color: #ECF8F8;
}

#master {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: master;
  background-color: #ECF8F8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #EEE0CB;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

@media (max-width: 990px) {
  header {
    height: 100%;
  }
}

h1 {
  padding: 50px 0 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#title_Container {
  width: 100%;
  color: #001F54;
  text-align: center;
}

#title_Container #toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

#title_Container #toggle p {
  color: #001F54;
  opacity: 0.7;
  font-size: 1.1em;
  padding: 0 15px;
}

#title_Container #toggle .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#title_Container #toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#title_Container #toggle .slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECF8F8;
  -webkit-transition: .4s;
  transition: .4s;
}

#title_Container #toggle .slider:before {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

#title_Container #toggle input:checked + .slider {
  background-color: #001F54;
}

#title_Container #toggle input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #001F54;
          box-shadow: 0 0 1px #001F54;
}

#title_Container #toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}
/*# sourceMappingURL=styles.css.map */